x-environment: &default-environment
  PUID: ${PUID}
  TZ: ${TZ}

x-common: &common
  restart: unless-stopped

services:
  adguardhome:
    <<: *common
    image: adguard/adguardhome
    container_name: adguardhome
    network_mode: host
    volumes:
      - ${DOCKERCONFDIR}/adguardhome/work:/opt/adguardhome/work
      - ${DOCKERCONFDIR}/adguardhome/conf:/opt/adguardhome/conf
    environment:
      <<: [*default-environment]

  cloudflared:
    <<: *common
    image: cloudflare/cloudflared
    container_name: cloudflared-tunnel
    command: tunnel run
    environment:
      <<: [*default-environment]
      TUNNEL_TOKEN: ${TUNNEL_TOKEN}

  portainer:
    <<: *common
    image: portainer/portainer-ce:latest
    container_name: portainer
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKERCONFDIR}/portainer:/data
    environment:
      <<: [*default-environment]

  uptime-kuma:
    <<: *common
    image: louislam/uptime-kuma:2
    container_name: uptime-kuma
    ports:
      - 3001:3001 # <Host Port>:<Container Port>
    volumes:
      - ${DOCKERCONFDIR}/uptime-kuma:/app/data
    environment:
      <<: [*default-environment]

  whatsupdocker:
    image: getwud/wud
    container_name: wud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 3004:3000
    environment:
      <<: [*default-environment]
      WUD_WATCHER_LOCAL_WATCHALL: true
      WUD_WATCHER_LOCAL_CRON: 0 4 * * 0 # Weekly on Sunday at 4am
      WUD_TRIGGER_DOCKER_LOCAL_AUTO: false
      WUD_TRIGGER_TELEGRAM_1_MODE: batch
      WUD_TRIGGER_TELEGRAM_1_BOTTOKEN: ${TELEGRAM_BOT_TOKEN}
      WUD_TRIGGER_TELEGRAM_1_CHATID: ${TELEGRAM_CHAT_ID}

  zerotier:
    <<: *common
    image: zerotier/zerotier-synology:latest
    container_name: zerotier
    devices:
      - /dev/net/tun
    network_mode: host
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - ${DOCKERCONFDIR}/zerotier:/var/lib/zerotier-one
    environment:
      <<: [*default-environment]
